@use '@angular/material' as mat;
@use '../sanbox-mixins' as sandboxMixin;
@use '../sandbox-variables' as sandboxVar;
@use '../sandbox-themes' as sandbox;

:host {
    @include sandboxMixin.flexboxLayout(column, flex-start, center);
                    
    .books-view-container {
        @include sandboxMixin.flexboxLayout(column, flex-start, center);
        max-width: 1200px;
        padding: 10px;
        width: 100%;
                
        .upper-section {
            @include sandboxMixin.flexboxLayout(column, flex-start, flex-start);
            width: 100%;
            
        }
        
        .lower-section {
            @include sandboxMixin.flexboxLayout(column, flex-start, center);
            width: 100%;
            
        }
    }
}