@use '../../../sanbox-mixins' as sandboxMixin;
@use '../../../sandbox-variables' as sandboxVar;

:host {
    @include sandboxMixin.flexboxLayout(column, center, center);
    @include sandboxMixin.border1();
    margin: 20px;
    padding: 20px;
    
    .todos-view-container {
        @include sandboxMixin.flexboxLayout(column, center, center);
        gap: 50px;
        width: 100%;
    }
}