

<div class="material-view-container" >

    <div class="box-container">

        <button mat-flat-button class="box" color="primary">
            primary
        </button>

        <button mat-flat-button class="box" color="accent">
            accent
        </button>

        <button mat-flat-button class="box" color="warn">
            warn
        </button>

    </div>

    <div class="box-container">

        <button mat-raised-button class="box" color="primary">
            primary
        </button>

        <button mat-raised-button class="box" color="accent">
            accent
        </button>

        <button mat-raised-button class="box" color="warn">
            warn
        </button>

    </div>


</div>