

<div class="material-view-container" >

    <div class="box-container">

        <button mat-flat-button class="box" color="primary">
            primary
        </button>

        <button mat-flat-button class="box" color="accent">
            accent
        </button>

        <button mat-flat-button class="box" color="warn">
            warn
        </button>

    </div>

    <div class="box-container">

        <button mat-raised-button class="box" color="primary">
            primary
        </button>

        <button mat-raised-button class="box" color="accent">
            accent
        </button>

        <button mat-raised-button class="box" color="warn">
            warn
        </button>

    </div>

    <div class="text-container">

        <p class="headline-1">Headline 1</p>
        <p class="headline-2">Headline 2</p>
        <p class="headline-3">Headline 3</p>
        <p class="headline-4">Headline 4</p>
        <p class="headline-5">Headline 5</p>
        <p class="headline-6">Headline 6</p>
        <p class="body-1">Body 1</p>
        <p class="body-2">Body 2</p>
        <p class="subtitle-2">Subtitle 2</p>
        <p class="caption">caption</p>
        
        
    </div>


</div>