@use '@angular/material' as mat;
@use '../sanbox-mixins' as sandboxMixin;
@use '../sandbox-themes' as sandbox;

:host {
    
    .material-view-container {
        @include sandboxMixin.flexboxLayout(column, flex-start, center);
        height: 100%;

        .box-container {
            @include sandboxMixin.flexboxLayout;
            
            .box {
                @include sandboxMixin.flexboxLayout(column, center, center);
                height: 50px;
                margin: 20px;
                width: 100px;
        
                .box-text {
                    @include mat.typography-level(sandbox.$app-typography, 'body-1')
        
                }
            }

        }

        .text-container {
            @include sandboxMixin.flexboxLayout(column, flex-start, flex-start);
            margin: 10px 50px;

            .headline-1 {
                @include mat.typography-level(sandbox.$app-typography, 'headline-1');
            }
            
            .headline-2 {
                @include mat.typography-level(sandbox.$app-typography, 'headline-2');
                
            }
            
            .headline-3 {
                @include mat.typography-level(sandbox.$app-typography, 'headline-3');
                
            }
            
            .headline-4 {
                @include mat.typography-level(sandbox.$app-typography, 'headline-4');
                
            }
            
            .headline-5 {
                @include mat.typography-level(sandbox.$app-typography, 'headline-5');
                
            }
            
            .headline-6 {
                @include mat.typography-level(sandbox.$app-typography, 'headline-6');

            }

            .body-1 {
                @include mat.typography-level(sandbox.$app-typography, 'body-1');
                
            }
            
            .body-2 {
                @include mat.typography-level(sandbox.$app-typography, 'body-2');
                
            }
            
            .subtitle-2 {
                @include mat.typography-level(sandbox.$app-typography, 'subtitle-2');
                
            }
            
            .caption {
                @include mat.typography-level(sandbox.$app-typography, 'caption');

            }

        }
        
    }
}
